html, body, .content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.content {
    display: table;
    background: url(bg.jpg) center center no-repeat;
}

.item {
    color: aliceblue;
    display: table-cell;
    vertical-align: middle;
    padding-left: 2.5rem;
}

#logo {
    font-family: 'Mr De Haviland', cursive;
    font-size: 5em;
}

#slogan {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    /* margin-top: -2rem; */
    color: #EAA44B;
}